main{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Section1 et 2 and Aside */

.section1 figure, aside figure, .section2 figure{
    background-color: white;
    width: 15rem;
    height: 12rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

/* Section1 and Aside */

.section1, aside{
    background-color: rgb(201, 199, 199);
    border-radius: 20px;
    height: 39rem;
    width: 54rem;
}

.section1__carte, .aside__carte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section1 ul, aside ul{
    list-style: none;
    margin-left: -1.5rem;
    margin-top: 0;
}

.section1 li:first-child, aside li:first-child{
    font-size: 15px;
    font-weight: bold;
}
.section1 li:nth-child(2), aside li:nth-child(2){
    font-size: 13px;
    padding-top: 0.2rem;
}

.section1 li:nth-child(3), aside li:nth-child(3){
    font-size: 13px;
    color: blue;
    padding-top: 0.2rem;
} 

.section1 h1, aside h1{
    padding-left: 2.5rem;  
    padding-top: 2.5rem;
    margin-bottom: 1rem;
}

/* Section1 */

section{
    margin-right: 3rem;
}

.section1 img{
    height: 55%;
    object-fit: cover;
    padding: 0.3rem;
    border-radius: 20px 20px 0 0;
}

.section1 h2{
    font-size: 16px;
    padding-left: 2.5rem;
    padding-bottom: 3rem;
}

/* Aside */

aside{
    width: 27rem;
    margin-left: 4rem;
}

.bloccarteaside{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

aside img{
    width: 40%;
    object-fit: cover;
    padding: 0.4rem;
    border-radius: 20px 0 0 20px;
}

aside figure{
    width: 21rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    
}

aside ul{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

/* Section2 */

.section2{
    width: 100%;
    height: 35rem;
    margin-bottom: 8rem;
    margin-left: 1rem;
}

.section2 h1{
    padding-left: 1.5rem;  
    padding-top: 2.5rem;
    margin-bottom: 1rem;
}

.section2__carte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section2__carte figure{
    height: 30rem;
    width: 19rem;
    border-radius: 20px;
    box-shadow: 1px 1px 0.2em 0.1em gray;
}

.section2__carte img{
    object-fit: cover;
    height: 90%;
    border-radius: 20px 20px 0 0;
}
.section2 figcaption{
    padding-top: 1em;
    padding-left: 1em;
    font-weight: bold;
}

/* Footer */

footer{
    
    background-color: lightgray;
    width: 82rem;
    height: 15rem;
    margin-left: 2rem;
}


.apropos{
    display: flex;
    width: 80%; 
}

.apropos h3{
    font-size: 21px;
}

.apropos ul{
    font-size: 19px;
    line-height: 1.9rem;
    list-style: none;
    padding-left: 2rem;
    padding-right: 9rem;
}

/* Responsive for 1450pwx max */

@media all and (max-width: 1450px) {
    .section1{
        width: 55%;
    }

    .section1__carte figure{
        width: 25%;
    }
    
    aside { 
        width: 27% ;
    }

    aside ul{


    }
    .section2__carte figure{
        width: 20%;
    }

    footer{
        width: 90%;
        height: 100%;
    }

    .apropos{
        width: 100%;
    }

    .apropos ul{
        padding-left: 2rem;
        padding-right: 4rem;
    }
}   

@media all and (max-width: 1200px){
    .section1 li:first-child,  aside li:first-child{
        font-size: 11px;
    }
    .section1 li:nth-child(2), aside li:nth-child(2), .section1 li:nth-child(3), aside li:nth-child(3){
        font-size: 10px;
    }
}


/* Responsive for tablet */

@media all and (max-width: 750px) {
    body{
        justify-content: center;
    }
    .section1{
        width: 95%;
        margin: 0;
    }
    aside{
        width: 95%;
        height: 25%;
        margin: 0;
        margin-top: 4rem;
    }
    .aside__carte{
        flex-direction: row;
        margin-bottom: 2em;
    }
    aside h1{
        margin: 0;
        padding-bottom: 1em;
    }
    aside figure{
        width: 30%;
        margin: 0.5em;
    }
    /* aside li:first-child{
        font-size: 9px;
    }
    aside li:nth-child(2), aside li:nth-child(3){
        font-size: 8px;
    } */
    .section2{
        width: 100%;
        height: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .section2 figure{
        width: 20%;
        height: auto;
    }
    .apropos{ 
        width: 90%;
    }
    .apropos ul{
        padding-left: 1rem;
        padding-right: 2rem;
        font-size: 15px;
    } 
}

/* Responsive for mobile */

/* 560px */