main{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    height: 83rem;
    width: 93rem;
}

/* Section1 et 2 and Aside */

.section1 figure, aside figure, .section2 figure{
    background-color: white;
    width: 15rem;
    height: 12rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 1rem;

}



/* Section1 and Aside */

.section1, aside{
    background-color: rgb(201, 199, 199);
    border-radius: 20px;
    /* margin-right: 4rem;
    margin-left: 2rem; */
    height: 39rem;
    width: 54rem;
}

.section1 figure, aside figure, .section2 figure{
    background-color: white;
    width: 15rem;
    height: 12rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.section1__carte, .aside__carte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section1 ul, aside ul{
    list-style: none;
    margin-left: -1.5rem;
    margin-top: 0;
}

.section1 li:first-child, aside li:first-child{
    font-size: 15px;
    font-weight: bold;
}
.section1 li:nth-child(2), aside li:nth-child(2){
    font-size: 13px;
    padding-top: 0.3rem;
}

.section1 li:nth-child(3), aside li:nth-child(3){
    font-size: 13px;
    color: blue;
    padding-top: 0.3rem;
} 

.section1 h1, aside h1{
    padding-left: 3rem;  
    padding-top: 2.5rem;
    margin-bottom: 1rem;
}

/* Section1 */

section{
    margin-right: 3rem;
}

.section1 img{
    height: 55%;
    object-fit: cover;
    padding: 0.3rem;
    border-radius: 20px 20px 0 0;
}

.section1 h2{
    font-size: 16px;
    padding-left: 2.5rem;
    padding-bottom: 3rem;
}

/* Aside */

aside{
    width: 27rem;
    margin-left: 4rem;
}

.bloccarteaside{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

aside img{
    width: 40%;
    object-fit: cover;
    padding: 0.4rem;
    border-radius: 20px 0 0 20px;
}

aside figure{
    width: 22rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    
}

aside ul{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

/* Section2 */

.section2{
    width: 100%;
    height: 35rem;
    margin-bottom: 8rem;
    margin-left: 1rem;
}

.section2 h1{
    padding-left: 2rem;  
    padding-top: 2.5rem;
    margin-bottom: 1rem;
}

.section2__carte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section2__carte figure{
    height: 30rem;
    width: 19rem;
    border-radius: 20px;
    box-shadow: 1px 1px 0.2em 0.1em gray;
}

.section2__carte img{
    object-fit: cover;
    height: 90%;
    border-radius: 20px 20px 0 0;
}
.section2 figcaption{
    padding-top: 1em;
    padding-left: 1em;
    font-weight: bold;
}

/* Footer */

.apropos{
    display: flex;
    justify-content: flex-start;
    background-color: lightgray;
    margin-left: 2rem; 
    width: 82rem;
    height: 15rem;
}

.apropos h3{
    font-size: 21px;
}

.apropos ul{
    font-size: 19px;
    line-height: 1.9rem;
    list-style: none;
    margin-left: 2rem;
    margin-right: 9rem;
}